<h2 mat-dialog-title>Movie Detail</h2>

<mat-dialog-content [(ngModel)]="currentRate">
    <h2 class="modal-title" id="exampleModal3Label">{{selectedMovie?.name}}</h2>
    <h4 class="modal-title" id="exampleModal3Label">{{selectedMovie?.name}}</h4>
    
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <div *ngIf="currentRate">
        <pre>Rate: <b>{{currentRate}}</b></pre>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isSelectMovie" type="button" class="btn btn-primary" (click)="postRating()">Save changes</button>
      -->

  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  (click)="confirmSelection()">Give me a rate</button>

  <!-- <button mat-button [mat-dialog-close]="true"  (click)="postRating()">Install</button> -->
</mat-dialog-actions>


